apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: waltti
  namespace: argocd
spec:
  syncWindows:
  - kind: allow
    schedule: "5 6 * * 3"
    duration: 2h
    applications:
    - "*-qa"
    - "*-prod"
    manualSync: true
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  destinations:
  - name: '*'
    namespace: '*'
    server: https://kubernetes.default.svc
  - name: '*'
    namespace: '*'
    server: https://34.159.35.141
  - name: '*'
    namespace: '*'
    server: https://34.185.149.50
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
status: {}